# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/*.iml
**/.idea/
**/.vscode/
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/ios/Pods/
**/ios/.symlinks/
**/*.env
**/*.env.*
